


.text-center {text-align: center}
.text-right {text-align: right}
.text-left {text-align: left}
.color-white {color:white}
.color-white-hover:hover {color:white}

.inline-block {
  display:inline-block;
}
/**
for mobile
**/
@media screen and (min-width:767px) {
 body {
   padding: 0 5em;
 }
 .content {
   padding: 0 2em;
 }

 .hide-mobile {
   display:none;
 }
}
